
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: azure;
    align-content: center ;
    padding: 10px;
}

.sub{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(213, 255, 255);
    align-content: flex-end;
    padding: 10px;
}

* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    body{
        height: 100vh;
       background-color: rgb(33, 42, 56);
        background-size: cover;
        background-position: center;
        color: rgb(177, 177, 177);
      
    }
    header{
        position: relative;
        padding: 0 2rem;
    }

    .link{
        color: aliceblue;
    }