.banner-card{
    position: relative
}


.banner-card img{ 
    max-width: 100%;
    height: auto;
}

.banner-text{
position: absolute;
top:37%;
left: 10%;
color: aliceblue;
padding: 10px;
align-items: center;
}